[Unit]
Description=Город Талантов
After=network.target

[Service]
User=root

WorkingDirectory=/backend
LimitNOFILE=4096
ExecStart=/usr/local/bin/gunicorn -c gunicorn_conf.py main:app
Restart=on-failure
RestartSec=5s
EnvironmentFile=/etc/sysconfig/backend

[Install]
WantedBy=multi-user.target